<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta  name="theme-color" content="#8257E5">
        <title>Proffy | Sua plataforma de estudos online</title>

        <link rel="shortcut icon" href="/images/favicon.png" type="image/png">

        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/partials/thank-page.css">

        <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
    </head>
    <body id="page-thank">

            <div id="container">
                    <div class="logo-container">
                        <img src="/images/Feito.png" alt="Feito">
                        <h2>Cadastro salvo!</h2>
                        <p id="text-confirm">Tudo certo, seu cadastro está na nossa lista de professores. Agora é só ficar de olho no seu WhatsApp.</p>
                    </div>
        
                    <img class="hero-image" src="/images/Backgroundfundo.png" alt="Plataforma de Estudos">
                    
                    <div class="buttons-container">
                        <a  class="list" href="/study">
                            Acessar lista
                        </a>
                    </div>  

            </div>
        
    </body>
</html>